<div class="modal-header">
  <h5 class="modal-title">
    {{ barraca.nome ? barraca.nome : "Criar Barraca" }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form #barracaForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome: </label>
      <input
        [(ngModel)]="barraca.nome"
        #nome="ngModel"
        class="form-control"
        id="nome_input"
        name="nome"
        type="text"
        placeholder="Digite o nome da barraca"
        required
      />
    </div>
    <div class="form-group">
      <label for="nome">Responsável: </label>
      <ng-select
        [items]="pessoas"
        bindLabel="nome"
        [(ngModel)]="barraca.responsavel"
        #responsavel="ngModel"
        name="responsavel"
        placeholder="Selecione o responsável"
        required
      >
      </ng-select>
    </div>
    <div class="form-group">
      <label for="nome">Contato: </label>
      <input
        [(ngModel)]="barraca.contato"
        #contato="ngModel"
        name="contato"
        id="contato_input"
        class="form-control"
        type="text"
        placeholder="Digite o telefone/e-mail da barraca"
        required
      />
    </div>
  </form>
  <div class="d-grid gap-2">
    <button
      [disabled]="!barracaForm.form.valid"
      style="margin-top: 20px"
      type="button"
      class="btn btn-primary"
      (click)="submitForm()"
    >
      <i class="fa fa-save" aria-hidden="true"></i>
      Salvar
    </button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">
    Fechar
  </button>
</div>
