<div class="modal-header">
  <h5 class="modal-title">
    {{
      movimentacao.id
        ? "Movimentação " + movimentacao.id
        : "Cadastrar nova movimentação"
    }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form #movimentacaoForm="ngForm">
    <div>
      <label for="operacao" style="margin-right: 10px">Operação: </label>
      <div class="form-check form-check-inline">
        <input
          [(ngModel)]="movimentacao.operacao"
          #operacao="ngModel"
          type="radio"
          name="operacao"
          value="ENTRADA"
          id="operacao_entrada"
          class="form-check-input"
        />
        <label class="form-check-label" for="operacao_entrada">Entrada</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [(ngModel)]="movimentacao.operacao"
          #operacao="ngModel"
          type="radio"
          name="operacao"
          value="SAÍDA"
          id="operacao_saída"
          class="form-check-input"
        />
        <label class="form-check-label" for="operacao_saída">Saída</label>
      </div>
    </div>

    <div *ngIf="movimentacao.operacao == 'ENTRADA'">
      <label for="tipo" style="margin-right: 10px">Tipo: </label>
      <div class="form-check form-check-inline">
        <input
          [(ngModel)]="movimentacao.tipo"
          #tipo="ngModel"
          type="radio"
          name="tipo"
          value="COMPRA"
          id="tipo_compra"
          class="form-check-input"
        />
        <label class="form-check-label" for="tipo_compra">Compra</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [(ngModel)]="movimentacao.tipo"
          #tipo="ngModel"
          type="radio"
          name="tipo"
          value="DOAÇÃO"
          id="tipo_doação"
          class="form-check-input"
        />
        <label class="form-check-label" for="tipo_doação">Doação</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [(ngModel)]="movimentacao.tipo"
          #tipo="ngModel"
          type="radio"
          name="tipo"
          value="DEVOLUÇÃO"
          id="tipo_devolução"
          class="form-check-input"
        />
        <label class="form-check-label" for="tipo_devolução">Devolução</label>
      </div>
    </div>

    <div class="form-group">
      <label for="dataFato">Data do Fato: </label>
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="movimentacao.dataFato"
        name="dataFato"
        placeholder="Digite a data e hora da movimentação"
        required
      />
    </div>

    <div class="form-group">
      <label for="barraca">Barraca: </label>
      <ng-select
        [items]="barracas"
        bindLabel="nome"
        [(ngModel)]="movimentacao.barraca"
        #barraca="ngModel"
        name="barraca"
        placeholder="Selecione a barraca"
        required
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="responsavel">Responsável: </label>
      <ng-select
        [items]="pessoas"
        bindLabel="nome"
        [(ngModel)]="movimentacao.pessoa"
        #responsavel="ngModel"
        name="responsavel"
        placeholder="Responsavel pela retirada do produto"
        required
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="produto">Produto: </label>
      <ng-select
        [items]="produtos"
        bindLabel="nome"
        [(ngModel)]="movimentacao.produto"
        #produto="ngModel"
        name="produto"
        placeholder="Selecione o produto"
        (close)="um = movimentacao?.produto?.unidadeMedida"
        required
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="quantidade">Quantidade (em {{ um?.nome }}): </label>
      <input
        [(ngModel)]="movimentacao.quantidade"
        #quantidade="ngModel"
        class="form-control"
        id="quantidade_input"
        name="quantidade"
        type="number"
        placeholder="Digite o quantidade da movimentacao"
        required
      />
    </div>

    <div
      *ngIf="
        movimentacao.operacao == 'ENTRADA' && movimentacao.tipo != 'DEVOLUÇÃO'
      "
      class="form-group"
    >
      <label for="valor">Custo: </label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="movimentacao.valor"
        name="valor"
        #valor="ngModel"
        placeholder="Digite o valor em reais"
        required
      />
    </div>

    <div class="form-group">
      <label for="observacao">Observações: </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="movimentacao.observacao"
        name="observacao"
        #observacao="ngModel"
        placeholder="Opcional"
      />
    </div>
  </form>
  <div class="d-grid gap-2">
    <button
      [disabled]="!movimentacaoForm.form.valid"
      style="margin-top: 20px"
      type="button"
      class="btn btn-primary"
      (click)="submitForm()"
    >
      <i class="fa fa-save" aria-hidden="true"></i>
      Salvar
    </button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">
    Fechar
  </button>
</div>
