<div class="d-flex justify-content-between" id="main-content">
  <h1>Pessoas</h1>
  <div>
    <form class="d-flex flex-row">
      <input
        #searchInput="ngModel"
        ngModel
        (ngModelChange)="pesquisarPessoa(searchInput.value)"
        name="searchInput"
        id="searchInput"
        class="form-control"
        type="search"
        placeholder="Pesquisar pessoa ..."
        aria-label="Search"
      />
      <a
        class="btn btn-secondary d-flex align-items-center"
        href="#"
        (click)="listarPessoas()"
        style="margin: 0 10px"
        ><i class="fa fa-sync" style="margin-right: 5px"></i> Atualizar</a
      >
      <button
        class="btn btn-success d-flex align-items-center"
        (click)="modalPessoa()"
        type="button"
      >
        <i class="fa fa-plus" style="margin-right: 5px"></i> Nova
      </button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Documento</th>
      <th scope="col">Telefone</th>
      <th scope="col">Barraca</th>
      <th class="text-center">Opções ...</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <tr *ngFor="let pessoa of pessoas">
      <th scope="row">{{ pessoa.id }}</th>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.pessoaFisica ? "PF" : "PJ" }}</td>
      <td>{{ pessoa.documento }}</td>
      <td>{{ pessoa.telefone }}</td>
      <td>{{ pessoa.barraca?.nome }}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-info" (click)="modalPessoa(pessoa)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>
        <a
          style="margin-left: 15px"
          class="btn btn-xs btn-danger"
          href="#"
          (click)="excluirPessoa($event, pessoa)"
          ><i class="fa fa-times" aria-hidden="true"></i> Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!pessoas || pessoas?.length == 0">
  Nenhuma pessoa encontrada
</div>
