<div class="modal-header">
  <h5 class="modal-title">
    {{ produto.id ? produto.nome : "Cadastrar Produto" }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form #produtoForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome: </label>
      <input
        [(ngModel)]="produto.nome"
        #nome="ngModel"
        class="form-control"
        id="nome_input"
        name="nome"
        type="text"
        placeholder="Digite o nome do produto"
        required
      />
    </div>
    <div class="form-group">
      <label for="descricao">Descrição: </label>
      <input
        [(ngModel)]="produto.descricao"
        #descricao="ngModel"
        class="form-control"
        id="descricao_input"
        name="descricao"
        type="text"
        placeholder="Digite uma descrição para o produto"
      />
    </div>
    <div class="form-group">
      <label for="imagemURL">Link da Imagem: </label>
      <input
        [(ngModel)]="produto.imagemURL"
        #imagemURL="ngModel"
        class="form-control"
        id="imagemURL_input"
        name="imagemURL"
        type="text"
        placeholder="Digite o link da imagem do produto"
      />
    </div>
    <div class="form-group">
      <label for="unidadeMedida">Unidade de Medida: </label>
      <ng-select
        [items]="ums"
        bindLabel="nome"
        [(ngModel)]="produto.unidadeMedida"
        #unidadeMedida="ngModel"
        name="unidadeMedida"
        placeholder="Selecione a unidade de medida"
        required
      >
      </ng-select>
    </div>
  </form>
  <div class="d-grid gap-2">
    <button
      [disabled]="!produtoForm.form.valid"
      style="margin-top: 20px"
      type="button"
      class="btn btn-primary"
      (click)="submitForm()"
    >
      <i class="fa fa-save" aria-hidden="true"></i>
      Salvar
    </button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">
    Fechar
  </button>
</div>
