<div class="d-flex justify-content-between" id="main-content">
  <h1>Produtos</h1>
  <div class="d-flex">
    <input
      #searchInput="ngModel"
      ngModel
      (ngModelChange)="pesquisarProduto(searchInput.value)"
      name="searchInput"
      id="searchInput"
      class="form-control"
      type="search"
      placeholder="Pesquisar produto ..."
      aria-label="Search"
    />
    <a
      class="btn btn-primary d-flex text-nowrap align-items-center"
      href="#"
      [routerLink]="['ums']"
    >
      <i class="fas fa-ruler" style="margin-right: 5px"></i> Unidades de Medida
    </a>

    <button
      class="btn btn-secondary d-flex align-items-center"
      (click)="listarProdutos()"
      style="margin: 0 10px"
    >
      <i class="fa fa-sync" style="margin-right: 5px"></i> Atualizar
    </button>
    <button
      class="btn btn-success d-flex align-items-center"
      (click)="modalProduto()"
      type="button"
    >
      <i class="fa fa-plus" style="margin-right: 5px"></i> Novo
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Unidade de Medida</th>
      <th class="text-center">Opções ...</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <tr *ngFor="let produto of produtos">
      <th scope="row">{{ produto.id }}</th>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.unidadeMedida?.nome }}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-info" (click)="modalProduto(produto)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>
        <a
          style="margin-left: 15px"
          class="btn btn-xs btn-danger"
          href="#"
          (click)="excluirProduto($event, produto)"
          ><i class="fa fa-times" aria-hidden="true"></i> Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!produtos || produtos?.length == 0">
  Nenhum produto encontrado!
</div>
