<div class="d-flex justify-content-between" id="main-content">
  <h1>Barracas</h1>
  <div>
    <form class="d-flex flex-row">
      <input
        #searchInput="ngModel"
        ngModel
        (ngModelChange)="pesquisarBarraca(searchInput.value)"
        name="searchInput"
        id="searchInput"
        class="form-control"
        type="search"
        placeholder="Pesquisar barraca ..."
        aria-label="Search"
      />
      <button
        class="btn btn-secondary d-flex align-items-center"
        (click)="listarBarracas()"
        style="margin: 0 10px"
      >
        <i class="fa fa-sync" style="margin-right: 5px"></i> Atualizar
      </button>
      <button
        class="btn btn-success d-flex align-items-center"
        (click)="modalBarraca()"
        type="button"
      >
        <i class="fa fa-plus" style="margin-right: 5px"></i> Nova
      </button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Responsável</th>
      <th scope="col">Contato</th>
      <th class="text-center">Opções ...</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <tr *ngFor="let barraca of barracas">
      <th scope="row">{{ barraca.id }}</th>
      <td>{{ barraca.nome }}</td>
      <td>{{ barraca.responsavel?.nome }}</td>
      <td>{{ barraca.contato }}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-info" (click)="modalBarraca(barraca)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>
        <a
          style="margin-left: 15px"
          class="btn btn-xs btn-danger"
          href="#"
          (click)="excluirBarraca($event, barraca)"
          ><i class="fa fa-times" aria-hidden="true"></i> Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!barracas || barracas?.length == 0">
  Nenhuma barraca encontrada
</div>
