<div class="d-flex justify-content-between">
  <h1>Barracas</h1>
  <div>
    <form class="d-flex">
      <div class="form-group">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Digite aqui ..."
          aria-label="Search"
        />
      </div>
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Responsável</th>
      <th scope="col">Contato</th>
      <th class="text-center">
        <a [routerLink]="['nova']" class="btn btn-success" href="#"
          ><i class="fa fa-plus"></i> Nova</a
        >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let barraca of barracas">
      <th scope="row">{{ barraca.idBarraca }}</th>
      <td>{{ barraca.nome }}</td>
      <td>{{ barraca.responsavel?.nome }}</td>
      <td>{{ barraca.contato }}</td>
      <td class="text-center">
        <a
          class="btn btn-xs btn-info"
          href="#"
          [routerLink]="['editar', barraca.idBarraca]"
          ><i class="fa fa-edit" aria-hidden="true"></i> Editar</a
        >
        <a
          class="btn btn-xs btn-danger"
          href="#"
          (click)="excluir($event, barraca)"
          ><i class="fa fa-times" aria-hidden="true"></i> Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!barracas || barracas?.length == 0">
  Nenhuma barraca encontrada
</div>
