<h1>Editar barraca: {{ barraca?.nome }}</h1>

<form #formBarraca="ngForm" *ngIf="barraca">
  <div class="form-group">
    <label for="nome">Nome: </label>
    <input
      class="form-control"
      [(ngModel)]="barraca.nome"
      #nome="ngModel"
      name="nome"
      type="text"
      placeholder="Digite o nome da barraca"
    />
  </div>
  <div class="form-group">
    <label for="nome">Responsável: </label>
    <select
      [(ngModel)]="barraca.responsavel"
      name="responsavel"
      id="responsavel_select"
      class="form-select"
    >
      <option *ngFor="let responsavel of responsaveis" [ngValue]="responsavel">
        {{ responsavel.nome }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="nome">Contato: </label>
    <input
      class="form-control"
      [(ngModel)]="barraca.contato"
      #contato="ngModel"
      name="contato"
      type="text"
      placeholder="Digite o contato da barraca"
    />
  </div>
  <button type="button" (click)="atualizar(barraca)">Salvar</button>
</form>
